@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf);
}
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-size:0px ;
    padding-top:75px;
    font-family: Monstserrat re, sans-serif;
    background-color:  #3a393a;
}
header{
    background-color: #ff7a14;
    width: 100%;
    position:fixed;
    top: 0px;
    text-align: center;
    min-width: 320px;
}
        figure{
            width: 25%;
            padding: 5px 0;
            display: inline-block;
            min-width: 190px;
        }
        #logotipo{
            width:100px;
            padding-top: 20px;
            padding-bottom: 20px;
            display: inline-block;
            vertical-align: middle;
        }     
        #nombre{
            font-size: 2rem;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            color: #ffffff;
        }   
    #menu-ham{
        display: none;
    }
    #abrir-ham,#cerrar-ham{
        text-align: center;
        min-width: 50px;
        vertical-align: bottom;
        display: none;
    }
    #abrir-ham img,#cerrar-ham img{
        width: 30px;
        vertical-align: middle;
        border: 1px solid#fff;
    }    
    #menuPrincipal{
        width: 75%;
        
        display: inline-block;
        text-align: right;   
        padding-right:5%;
    }

    .opcion{
        font-size: 1.25rem;
        color:rgba(255, 255, 255, 0.884);
        padding: 10px;
        text-decoration: none;
        display: inline-block;
    }
    .opcion:hover{
        color: #ffffff;
    }
   
.contenido{
    padding: 3% 10%;
    text-align: left;
    min-width: 320px;
}

    #quienes{
        background-color: #444246;   
    }
        #quienes img{
            border-radius: 0 20px;
        }
        #quienes img, #quienes article{
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        #quienes article{
            display: inline-block;
            text-align: left;
        }
        #quienes #img{
            display: inline-block;
            text-align: right;
        }
        #img{
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        #quienes h2{
            font-size: 3.5rem;
            color: #fff;
            padding-bottom: 10px;
        }
        #quienes h6{
            font-size:0rem;
        }
        #quienes p{
            font-size: 1rem;
            color: #fff;
            margin-bottom: 20px;
            line-height: 1.5rem;
        }
        #quienes a, #proyectos a{
            font-size: 1.2rem;
            text-decoration: none;
            display:block;
            background-color: #ff641c;
            width: 150px;
            padding: 10px;
            border-radius: 9px;
            color: #ffffff;
            text-align: center;
            border: 1px solid#b52001;
        }
        #quienes a:hover{
            background-color: #b52003;
        }
        #quienes a:active{
            margin-top:-1px;
        }
    #formulario{
        background-color:#525252;
        color:#fff;    
        font-size: 1rem; 
        display: none;
    }
    #formulario p{
        margin-bottom:20px;
    }
    #formulario img{
        width: 500px;
        
    }
    #formulario div{
        width: 50px;
    }
    #formulario input{
        width: 200px;
        height: 20px;
        border-radius: 10px 10px 10px 10px;
    }
    #formulario button{
        margin: 15px auto;
        /*background-color: #cacaca;*/
        font-size: 1.2rem;
            text-decoration: none;
            display:block;
            background-color: #ff641c;
            width: 100px;
            padding: 10px;
            border-radius: 9px;
            color: #ffffff;
            text-align: center;
            border: 1px solid#b52001;;
    }
    
    
    #proyectos{
        text-align: left;
    }
        #proyectos h1{
            font-size: 3.5rem;
            color: #ff641c;
            padding-bottom: 30px;
            text-align: center;
        }
        .proy{
            width: 22.75%;
            background-color:rgba(0, 0, 0, 0.3) ;
            border: 1px solid#ccc;
            text-align: center;
            border-radius: 5px;
            display: inline-block;
            overflow: hidden;
        }
        .proy:hover{
            box-shadow: 0px  0px 5px #999;
        }
        .separar-izq{
            margin-left: 3%;

        }
        .separar-der{
            margin-right: 3%;
        }
        .proy img{
            width: 100%;
            height: 120px;
        }
        .proy h3{
            font-size: 1.3rem;
            padding:20px 0 10px 0;
            color: #fff;
        }
        .proy p{
            font-size: 1rem;
            padding:10px 20px;
            line-height: 1.5rem;
            color: #fff;
        }
        #proyectos a{
            font-size: 1rem;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 5px;
            width: 110px;
        }


    footer{
        background-color:#272627;
        color:#fff;
        font-size: 1rem;
        padding: 20px 10%;
        text-align: right;
    }
        #imgfoo{
            width:50%;
            height: auto;
            /*padding-top: 20px;*/
            display: block;
            margin:auto;
        }
        #foo1{
            width: 14.5%;
            margin-left: 0.2%;
            float: left;
            vertical-align: middle;
        }
            #foo1 h2{
                font-size: 1.3rem;
                text-align: center;
            }
        #foo2{
            width: 14.5%;
            float: left;
            vertical-align: middle;
        }
            #foo2 h2{
                font-size: 1.3rem;   
                text-align: center;
            }
        #foo3{
            width: 39%;
            float: left;
        }
        #foo4{
            width: 29%;
            margin-right: 1%;
            float: left;
        }
